# Calltouch настройки
CALLTOUCH_ACCESS_TOKEN=41791eaf6ccd44964338a03b857ce19b6826ca96e8ad0
CALLTOUCH_SITE_ID=80820

# Avito настройки
AVITO_CLIENT_ID=Km1WeJtyfaoZGesDydbJ
AVITO_CLIENT_SECRET=5-BSPW2lM9dcbjGelw3ReUTbwpkGQpS1A3X8qGzW
AVITO_USER_ID=423816945

# Настройки скрипта
CHECK_INTERVAL_HOURS=1
